html {
    --standard-blue: #263238;
    --jascha-red: #FF685F;
    --baby-blue: #E0F3F8;
    --fifty-shades: #E8E8E8;
    --weißer-als-weiß: #FFFFFF;
    --audi-gray: #666666;
    --dark-gray: #979797;
}