html {
  --standard-blue: #263238;
  --jascha-red: #ff685f;
  --baby-blue: #e0f3f8;
  --fifty-shades: #e8e8e8;
  --weißer-als-weiß: #ffffff;
  --audi-gray: #666666;
  --dark-gray: #979797;

  --semi-bold: 600;
  --font-spacing: 0.25px;
  --font-family: inter;
}
